<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h3>Weather App</h3>
    </nav>
    <!-- step 3 : UI -->
    <section class="content">
        <% data.forEach(city => { %>
            <div class="card">
                <div class="weather">
                    <h3 class="city">Weather in <%= city.name %></h3>
                    <div class="last-update">last update: <%= new Date(city.dt * 1000).toLocaleString() %></div>
                    <div class="temp"><%= city.main.temp %></div>
                    <div class="temp-min">Temp min: <%= city.main.temp_min %></div>
                    <div class="temp-max">Temp max: <%= city.main.temp_max %></div>
                    
                    <div class="discription">
                        <img src="https://openweathermap.org/img/wn/<%= city.weather[0].icon %>.png" alt="weather icon" class="ico">
                        <%= city.weather[0].description %></div>
                    <div class="row">
                        <div class="pressure"><%= city.main.pressure %>hPa</div>
                        <div class="humidity"><%= city.main.humidity %>%</div>
                        <div class="visibility"><%= (city.visibility / 1000).toFixed(1) %>km</div>

                        <div class="wind"><%= city.wind.speed %>km/s <%= city.wind.deg %>Degree</div>

                        <div class="sunrise">Sunrise: <%= new Date(city.sys.sunrise * 1000).toLocaleTimeString() %></div>
                        <div class="sunset">Sunset: <%= new Date(city.sys.sunset * 1000).toLocaleTimeString() %></div>
                    </div>
                    
                </div>
            </div>
        <% }) %>
    </section>
    <footer>
        <p>Developed by dcv-k</p>
    </footer>
  

</body>
</html>